/* Стиль для главного окна */
QMainWindow#StorageEquipment {
    background-color: #f2f2f2;
}

/* Стиль для кнопок */
QPushButton {
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: #e7e7e7;
    padding: 6px;
    min-width: 80px;
}

QPushButton:hover {
    background-color: #d7d7d7;
}

QPushButton:pressed {
    background-color: #c7c7c7;
}

/* Стиль для таблицы */
QTableWidget {
    border: 1px solid #dcdcdc;
    gridline-color: #d0d0d0;
    selection-background-color: #a0a0a0;
}

QHeaderView::section {
    background-color: #e7e7e7;
    padding: 4px;
    border: 1px solid #dcdcdc;
    font-size: 10pt;
}

/* Стиль для области прокрутки */
QScrollArea {
    border: none; /* Убираем границу, если необходимо */
}
